@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom:0px;
	padding-bottom:70px;
}
::-webkit-input-placeholder {
   color: #fff !important;
   font-weight:500; 
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff !important;
   font-weight:500;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important;
   font-weight:500;   
}

:-ms-input-placeholder {  
   color: #fff !important;
   font-weight:500; 
}
.video-background{
	-webkit-filter:  grayscale(1) opacity(0.9) ;
	font-family: 'Quicksand', sans-serif;
}
.logoDiv{
	text-align:center;
	margin-top:5%;
}
.midAlign{
	text-align:center;
}
.homeText{
	color:#000;
}
.inputBox{
	background-color:rgba(0, 0, 0, 0);
	height:50px;
	font-weight:700;
  font-size:24px;
  color:#fff;
	
}
/*TYPING BABY*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*TYPING BABY ENDS*/
  .form-control{
	    border: 2px solid #fff;
  }
.form-control:focus {
  border-color: #fff;
  outline-width:thick;
  font-weight:700;
  font-size:24px;
  color:#fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.rightAlign
{
	text-align:right;
}
a,a:hover,a:focus{
	text-decoration:none;
	color:#fff;
	
	}
.footer1{
	background-color:rgba(0,0,0,1);
	height:20%;
	margin-bottom:0px !important;
	padding:1% !important;
	font-weight:900;color:#fff;font-size:18px;
}
/*HEXA START*/
.pic{
	
	
	text-align:center;
	width:150px;
	height:150px;
				-moz-border-radius: 150px;
    -webkit-border-radius: 150px;border-radius: 150px;box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.97);
    margin:auto;
	
}


/*HEXA END*/
.profileName{
	margin-top:10px;
	font-size:28px;
	font-weight:700;
	}
.profileAttribute{
	font-size:20px;
	font-weight:500;
}
.profile2ndAttributes
{
	font-size:18px;
	font-weight:400;
}
/*VIDEO STYLES START*/
.video-background {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				width: 100%;
				height: 100%;
				z-index: 0;
			}
			.video-background video {
				min-height: 100%; 
				min-width:100%; 
			}
			#page {
				position: relative; 
				z-index: 1;
				width: 960px;
				color: #FFF;
				background: transparent url(themes/background.png) repeat top left;
				border-radius: 5px;
				margin: 0 auto;
			}
			#main {
				padding: 10px;
				margin: 10px 0;
			}
/*VIDEO STYLES END*/
ul{
	
	list-style-type: none;
	text-align:left !important;
	
}
.results a{
	font-size:1.5vw;font-weight:700;
	list-style-type: none;
	color:#fff;
	
	text-align:left;
}
.results a:focus,a:hover{
	font-size:1.5vw;font-weight:700;
	list-style-type: none;
	color:#ccc;
	border:thin;
	text-align:left;
}

/* Let's get the scroll bar fixed  */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}